.charImg {
    display: block;
    margin: auto;
    border: 0.6rem solid #fff;
    margin-top: 1rem;
}

.charTable {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    table-layout: fixed;
}

.charTable th {
    background-color: #363062;
    color: #fff;
}

.charTable th,
.charTable td {
    padding: 1rem;
    text-align: left;
    width: 50%;
}

.charTable th {
    text-align: center;
    font-size: 2rem;
}

.charTable td:first-child,
.charTable th:first-child {
    border-left: 5px solid #363062;
    font-weight: bold;
}

.charTable td:last-child,
.charTable th:last-child {
    border-right: 5px solid #363062;
}

.charTable td {
    border-right: 5px solid #363062;
    font-size: 1.2rem;
}

.charTable tr:nth-child(even) {
    background-color: #435585;
    color: #fff;
}

.charTable tr:nth-child(odd) {
    background-color: #F5E8C7;
    color: #363062;
}

.charTable tr:last-child td {
    border-bottom: 5px solid #363062;
}

@media (max-width: 768px) {
    .charTable {
        width: 100%;
    }

    .charTable th,
    .charTable td {
        width: 100%;
    }
}