:root {
    --card-background: #fff;
    --heart-button-color: #363062;
    --close-button-color: #435585;
    --charId-background: #818FB4;
    --alive-status-background: #5AA469;
    --dead-status-background: #D35D6E;
}

.link {
    text-decoration: none;
}

.card {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: var(--card-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.card .heartButton {
    position: absolute;
    bottom: -5px;
    left: -15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--heart-button-color);
    cursor: pointer;
}

.card .closeButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--close-button-color);
    border: none;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

.card .charId {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--charId-background);
    border: none;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    height: 30px;
    color: yellow;
    font-weight: bold;
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.cardContent {
    margin-top: 10px;
}

.cardContent a {
    text-decoration: none;
}

.cardContent .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
    color: #363062;
}

.cardContent div {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.status {
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.origin {
    font-weight: bold;
}

.blackAndWhite {
    filter: grayscale(100%) !important;
}

.aliveStatus {
    background-color: var(--alive-status-background);
}

.deadStatus {
    background-color: var(--dead-status-background);
}