.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textContainer {
    margin-bottom: 20px;
}

.imgContainer {
    text-align: center;
}

.imgContainer img {
    max-width: 600px;
    height: auto;
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .imgContainer img {
        width: 100%;
    }
}
