.footer {
    padding: 3% 15%;
    text-align: center;
    background-color: #f3f3f3;
}

.list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.item {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0;
}
