.footer {
    padding: 3% 15%;
    text-align: center;
    background-color: #f3f3f3;
}

.list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.item {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0;
}

.item a {
    margin: 0 0.4rem 0 0.4rem;
    text-decoration: none;
}

.facebook {
    color: #1877F2;
}

.linkedin {
    color: #0077B5
}

.instagram {
    color: #E4405F;
}

.twitter {
    color: #1DA1F2;
}

.contacto {
    text-decoration: none;
}

@media (max-width: 767px) {
    .list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin-bottom: 1rem;
    }
}