.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.card {
    background-color: #cceeff;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.cardContent {
    margin-top: 10px;
    position: relative;
    /* Añadido */

}

.id {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
    background-color: #0C6EFD;
    color: #fff;
    padding: .25rem .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .2em;
    z-index: 10;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.status {
    font-size: 1.2em;
}

.details div {
    margin-bottom: 5px;
}

.origin {
    color: #ff6600;
}