.features {
    text-align: center;
    padding: 7% 5%;
}

.featureBox {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 5%;
    text-align: center;
}

.icon {
    color: #0d6efd;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}