/* Card.module.css */
.link {
    text-decoration: none;
}

.card {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .heartButton {
    position: absolute;
    bottom: -5px;
    left: -15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.card .closeButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #ed102e;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

.card .charId {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #007BFE;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    color: yellow;
    font-weight: bold;
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.cardContent {
    margin-top: 10px;
}

.cardContent a {
    text-decoration: none;
}

.cardContent .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
}

.cardContent div {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.status {
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
}

.origin {
    font-weight: bold;
}