.banner {
    background-color: #0D6EFd;
    color: #ffffff;
    padding: 100px 7px 70px 7px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    flex: 0 0 auto;
    width: 50%;
    max-width: 50%;
}

.btn {
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.btn:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

.btn2 {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.btn2:hover {
    color: #343a40;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.banner img {
    width: 95%;
}

@media (max-width: 767px){
    .column {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}