.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0D6EFD;
    color: #fff;
}

.navLink {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.navLink:hover {
    text-decoration: underline;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userIcon {
    margin-left: 5px;
    font-size: 1.5em;
    color: #fff;
}

.appName {
    text-decoration: none;
    font-size: 1.5em;
    outline: none;
    color: black;
}

.appName img {
    height: 67.5px;
    width: 112.5px;
}