.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #363062;
    color: #F5E8C7;
    height: 4rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.right li {
    list-style-type: none;
}

.userInfo {
    display: flex;
    align-items: center;
    color: #fff;
}

.userIcon {
    margin-left: 5px;
    font-size: 1.5em;
    color: #fff;
}

.appName {
    text-decoration: none;
    font-size: 1.5em;
    outline: none;
    color: black;
}

.appName img {
    height: 67.5px;
    width: 112.5px;
}

.navLink {
    text-decoration: none;
    color: #4A4A4B;
    margin-left: 20px;
    outline: none;
    font-size: 1.3rem;
    color: #FFF;
}

.liButton {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.navbar .navBtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #051E34;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {

    .right {
        margin-top: 0;
    }
    .navbar .navBtn {
        visibility: visible;
        opacity: 1;
    }

    .navbar a {
        color: #4A4A4B;
    }

    .navbar nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #FFF;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .navbar .responsiveNav {
        transform: none;
        z-index: 10;
    }

    nav .navCloseBtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}