.formContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
}

.formContainer h1 {
    text-align: center;
}

.formGroup {
    margin-bottom: 16px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    padding: 10px 20px;
    background-color: #363062;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #435585;
}

.alert {
    padding: 15px;
    border: 1px solid #D35D6E;
    color: #363062;
    background-color: #F3A9B6;
    border-radius: 4px;
    margin-bottom: 15px;
}   