.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

.navLink {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.navLink:hover {
    text-decoration: underline;
}